@import './root.css';

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: var(--cor-background);
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top, .top2{
    background-color: var(--cor-background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--border-radius-3);
    
}

.top2{
    margin-top: 5px;
}

.label-email{
    margin-top: 2rem;
}

.aquas {
    color: var(--cor-aquas);
}

form{
    background-color: var(--cor-branco);
    border-radius: var(--border-radius-cartao);
    color: var(--cor-texto);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    box-shadow: var(--box-shadow); /**/
}

input, button{
    padding: 10px;
    border-radius: var(--border-radius-1);
    cursor: pointer;
    width: 100%;
    border: none;
    box-shadow: var(--box-shadow);
}

button{
    margin-bottom: 10px;
}

button:active{
    opacity: 0.6;
    transition: .3s;
}

button:disabled{
    opacity: 0.5;
}

.form-field{
    margin-bottom: 10px;
}

b{
    font-size: larger;
}

.btn-box{
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.clear{
    background-color: var(--cor-branco);
    border: 2px solid transparent;
    color: var(--cor-texto);
}

.clear:hover{
    color: var(--cor-aquas-light);
    background-color: var(--cor-branco2);
    border: 2px solid var(--cor-aquas-light);
    transition: .2s;
}

.solid{
    color: var(--cor-texto);
    background-color: var(--cor-aquas);
    border: none;
}

.solid:hover{
    background-color: var(--cor-aquas-dark);
    transition: .2s;
}

.outline{
    color: var(--cor-texto);
    background-color: var(--cor-var-escura);
    border: 2px solid transparent;
}

.outline:hover{
    color: var(--cor-texto);
    background-color: var(--cor-aquas-dark);
    border: 2px solid var(--cor-aquas-dark);
    transition: .2s;
}

.error{
    color: var(--cor-texto);
    background-color: var(--cor-aviso);
    border-radius: var(--border-radius-1);
    text-align: center;
    padding: 2px;
    margin: 5px;
    width: 100%;
    
    display: none;
}

.loading {
    background: rgba(0,0,0,0.9);
    border-radius: var(--border-radius-cartao);
    box-shadow: var(--box-shadow);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    padding: 2px;
    margin: 5px;
    width: 15rem;
    height: 5rem;
}

.loading h3 {
    color: var(--cor-texto);
    font-size: 1.5rem;
}

.spinner {
    width: 2rem;
    height: 2rem;
    border: 4px solid rgba(0, 90, 173, 0.9);
    border-left-color: var(--cor-texto);
    margin: 5px;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}