body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b6b6b6;
    margin-bottom: 80px;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos para o rodapé */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #343a40;
    color: #fff;
    padding-top: 15px;
}

/* Estilos para o container */
.container {
    width: 60%; /* Define a largura como 60% da tela */
    margin: 0 auto; /* Centraliza o container */
    padding: 0 20%; /* Define margens laterais de 20% */
    text-align: center;
}

/* Estilos para a seção de dados */
#data-container {
    padding: 20px;
}

/* Estilos para os dados do tanque */
#dados-tanque {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

/* Estilo para o container das tabelas de tanques */
#tabelas-tanques {
    margin: 20px;
}

/* Estilo para as tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.content{
    background-color: #343a40;
}
.row1{
    flex-direction: row;
}

.navbar{
    background-color: #343a40;
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0.1rem;
    width: calc(100% + 1rem);
}

.nav-link{
    background-color: #b6b6b6;
    color: #343a40;
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 0.6rem;
    margin-left: 0.8rem;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777777;
    border-radius: 20px;
    margin-top: 4rem;
    padding: 0.1em;
    
}

.dash01{
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 3rem;
    width: 18em;
    height: 18em;
    text-align: center;
}

.dash02{
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    width: 35rem;
    height: 18rem;
}